html.dark {
  background: #151515;
}

* {
  user-select: none;
}

:root.dark {
  --a-primary: 0, 0%, 11%;
  --a-success: 168, 99%, 38%;
  --a-info: 212, 100%, 60%;
  --a-danger: 4, 78%, 59%;
  --a-warning: 44, 100%, 67%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(127.5, 127.5, 127.5);
  border-radius: 10px;
}
